/* Básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 2.5em;
}

header .btn {
    background-color: #ff4c4c;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #e74c3c;
}

/* Sobre */
section {
    padding: 60px 0;
    background-color: #f8f8f8;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section p {
    text-align: center;
    font-size: 1.2em;
}

/* Planos */
.planos-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 30px;
}

.plano {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.plano h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.plano ul {
    list-style: none;
    padding: 0;
}

.plano ul li {
    margin-bottom: 10px;
}

/* Galeria */
.galeria-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 30px;
}

.galeria-container img {
    width: 30%;
    border-radius: 8px;
}

/* Contato */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 15px 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #1c71c6;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

footer .social-media a:hover {
    text-decoration: underline;
}
